<h1>首頁</h1>
<p><img alt="" height="481" src="/images/About.jpg" width="600"/></p>
<p>教材  PC Hardware</p>
<p>Unit1  Succeeding in PC Hardware</p>
<p>單元1  成功進行PC硬件</p>
<p>Strategies for Learning</p>
<p>學習策略</p>
<p id="N10654" lang="">PC Hardware is an online course, where the content will be presented in the form of both text and activities.</p>
<p lang="">PC Hardware是一門線上課程，其中的內容將以文本和活動的形式呈現。</p>
<p id="N10657" lang="">While you will have more flexibility than in a traditional course, you will also have more responsibility for your own learning. You will need to </p>
<p lang=""><span>與傳統課程相比，您將擁有更多的靈活性，但是您也將對自己的學習承擔更多責任。</span><span>您將需要  </span></p>
<ul lang="">
<li lang="">Plan how to work through each unit.</li>
<li lang=""><span><span>計劃如何遍歷每個單元。</span></span></li>
<li lang="">Determine how to use the various features of the course to help you learn.</li>
<li lang="">確定如何使用課程的各種功能來幫助您學習。</li>
<li lang="">Decide when you need to seek additional support.</li>
<li lang="">確定何時需要尋求其他支持。</li>
</ul>
<p><span style="color: #ff0000;"> </span></p>
<p><span><span>課程內容 </span></span></p>
<p id="N1066D" lang=""><span>This course contains multiple modules. Each module has features designed to support you as an independent learner, including</span></p>
<p lang=""><span>本課程包含多個模塊。<span>每個模塊均具有主旨在支持您作為獨立學習者的功能，包括</span></span></p>
<ul lang="">
<li lang="">Learning Objectives   These are descriptions of what you should be able to do at the end of a section. A Learning Objective will allow you to direct your learning efforts and enable you to monitor your progress as you explore the content and engage in the activities.</li>
<li lang="">學習目標   <span>這些是本節末尾應該做的事情的描述。學習目標將使您能夠指導學習努力，並在探索內容和參與活動時監控進度。</span></li>
<li lang=""><span>Explanatory Content   <span>This is the informational meat of every chapter. Consisting of short passages of text with information, examples, images, and explanations, this explanatory content contains pieces such as</span></span></li>
<li lang="">解釋性內容   <span>這是每章的信息性內容。由簡短的段落，信息，示例，圖像和說明組成，此說明性內容包含以下內容</span>
<ul lang="">
<li lang="">Walk-throughs   These are videos embedded in the pages to exemplify the concepts you are exploring. They may provide a more detailed explanation of a topic or guide you through the steps of a process.</li>
<li lang="">演練   <span>這些是嵌入在頁面中的視頻，以例證您正在探索的概念。他們可能會提供有關主題的更詳細說明，或指導您完成流程的各個步驟。</span></li>
<li lang="">Examples   Designed to illustrate specific applications of the skills and learning objectives that the course supports you to achieve.</li>
<li lang="">示例  <span>旨在說明該課程支持您實現的技能和學習目標的特定應用。</span></li>
<li lang="">Labs   Simulations and lab activities designed to give you an opportunity to interact with various hardware elements.</li>
<li lang="">實驗室   <span>模擬和實驗室活動旨在為您提供與各種硬件元素進行交互的機會。</span></li>
<li lang="">Many Students Wonder sidebars   These sidebars serve two purposes   (1) to give a quick review of concepts, such as highly specialized input devices,  that are used in the PC Hardware material and (2) to provide additional material or background information that you may find surprising and interesting but that is not going to be assessed in the Quiz.</li>
<li lang="">許多學生都想知道側邊欄   <span>這些側邊欄有兩個目的  （1）快速回顧概念，例如PC硬件材料中使用的 高度專業化的輸入設備 ，以及（2）提供其他材料或背景信息您可能會發現令人驚訝和有趣的東西，但是測驗中不會對此進行評估。</span></li>
</ul>
</li>
<li lang="">Learning Activities   There are different types of activities interspersed throughout the course. They include<em class="bold" lang=""><em class="italic" lang=""><span><span>  </span></span></em></em></li>
<li lang="">學習活動  <span>在整個課程中散佈著不同類型的活動。它們包括  </span>
<ul lang="">
<li lang="">Learn By Doing activities   Learn By Doing activities follow the short explanations and examples. These activities give you the chance to investigate and practice key ideas. Learn By Doing activities have hints and feedback to guide you if you need it.</li>
<li lang="">邊做邊學的活動   邊做邊<span>學的活動遵循簡短的說明和示例。這些活動使您有機會研究和實踐關鍵思想。邊做邊學活動有提示和反饋，以在需要時指導您。</span></li>
<li lang="">Did I Get This? activities  <span> Did I Get This? activities are your chance to do a quick  self-check.  These activities do not have hints, and often follow a Learn by Doing activity so that you can determine if you understand the key ideas. This will help you make sure you are ready for graded activities.</span></li>
<li lang="">我明白了嗎？活動   <span>我明白了嗎？活動是您進行快速自我檢查的機會。這些活動沒有提示，通常會跟隨做中學活動，以便您確定自己是否了解關鍵思想。這將幫助您確保已準備好進行分級活動。</span></li>
<li lang="">Quizzes   These are short assignments that are graded. There is a Quiz at the end of each Module. The Quiz will show you and your instructor how well you understand the key concepts. If you read the information and do the activities in each Module, you should be ready for the Quiz.</li>
<li lang="">測驗  <span>這些是評分的短期作業。每個模塊的末尾都有一個測驗。測驗將向您和您的老師展示您對關鍵概念的理解程度。如果您閱讀了該信息並在每個模塊中進行了活動，那麼您應該已經做好測驗的準備。</span></li>
</ul>
</li>
<li lang="">Metacognitive Activities  <span><span> </span>These activities are designed to support your development as an independent learner, encouraging you to reflect on your progress and plan for continuing success. These activities include  </span></li>
<li lang="">元認知活動   <span>這些活動旨在支持您作為獨立學習者的發展，鼓勵您反思自己的進步併計劃繼續取得成功。這些活動包括  </span>
<ul lang="">
<li lang="">My Response activities   These short activities are located at the end of the module they encourage you to reflect on your progress through the module and estimate how well you believe you've attained the module's learning objectives. These activities also provide a place to share continuing questions and areas of difficulty (if you're using the course in conjunction with an instructor, your questions will be shared with your instructor).</li>
<li lang="">我的響應活動  <em class="italic" lang=""><span>這些簡短的活動位於模塊的末尾  他們鼓勵您反思本單元的學習進度，並估計您認為自己達</span></em><span>到本單元學習目標的程度。這些活動還提供了一個分享繼續存在的問題和困難領域的地方（如果您與講師一起使用本課程，您的問題將與講師分享）。</span></li>
<li lang="">Checkpoints These activities are located across the course after sections of content that can be particularly challenging or require additional practice. These metacognitive<span> </span><span class="term" lang="">checkpoints</span>encourage you to review your progress so far and assess yourself  are you ready to continue, or do you believe you need additional materials, practice, or self-assessment? If you feel that you're not ready to proceed, these checkpoints provide links to additional learning materials.</li>
<li lang="">檢查點  <span>這些活動位於課程的各個部分之後，這些部分可能特別具有挑戰性或需要其他練習。這些元認知</span><span class="term" lang=""><span>檢查點可以</span></span><span>鼓勵您回顧迄今為止的進展並進行自我評估  您準備好繼續嗎，還是您認為您需要其他材料，練習或自我評估？如果您感覺還沒有準備好繼續，可以使用這些檢查點來鏈接到其他學習資料。</span><span></span></li>
</ul>
</li>
</ul>
<p>重點分析:</p>
<h1>每週進度</h1>
<h2>W7</h2>
<p><a href="https://www.kaggle.com/lu40923209/cp2020w7/edit">kaggle</a></p><h1>分組作業</h1>
<h2>Unit3   Hardware Components</h2>
<h3>PCH5  Motherboards,Expansion Buses,and Processors</h3>
<h4>Motherboards and Components 主板和組件</h4>
<p><span>In this lesson,we will cover<span style="color: #ff0000;"> the purpose and function of the motherboard.</span>We will also cover central processing units (CPUs) and the various technologies that exist to provide specialized functionality for CPUs,such as virtualization, hyperthreading, and multicore processors.Finally, we will cover the various methods of CPU cooling available, such as active and passive heat sinks, as well as liquid cooling.</span></p>
<p><span>在本課中，我們將<span style="color: #ff0000;">介紹主板的用途和功能。</span>我們還將<span style="color: #000000;">介紹中央處理器(CPU)</span>以及CPU提供專門功能的各種技術，例如虛擬化，超線程和多核處理器。最後我們將介紹可用的各種CPU冷卻法，例如主動和被動散熱器以及液體冷卻。</span></p>
<p><span style="color: #ff0000;">Motherboards are the foundation of the computer.<span style="color: #000000;">The motherboard acts like a city block and the bus is like the streets.<span>The components are like the buildings in the city, so that if you want to go from one building to another(or in our case if we want information to flow from one component to another),it has to travel across the bus (the streets).<span style="color: #ff0000;">The bus is what physically connects the various components of the motherboard to each other, </span>allowing information to flow into and out of the various computer components.Motherboards come in a variety of shapes, sizes, and layouts. the specific shape, size, and layout of a motherboard is called its form factor. <span style="color: #ff0000;">The motherboard is one of the most important computer components,</span> since every other component plugs into the motherboard, either into a dedicated socket (such as the CPU),an expansion slot (used for various expansion cards), or a connector (such as SATA storage devices and audio inputs/outputs).<span style="color: #ff0000;">The motherboard truly is the central meeting point for all the components in the computer.</span></span></span></span></p>
<p><span style="color: #ff0000;">主板是計算機的基礎。<span style="color: #000000;">主板就像一個街區，總線就像街道。這些組件就像城市中的建築物，因此，如果要從一棟建築物轉到另一棟建築物(或者在我們的情況下，如果我們希望訊息從一個組件流到另一個組件)，它必須穿過總線(街道)。<span style="color: #ff0000;">總線是物理連接主板上各個組件的設備，</span>允許訊息流入和流出各種計算機組件。主板有各種形狀，大小和佈局。主板的特性形狀，大小和佈局稱為外形尺寸。<span style="color: #ff0000;">主板是計算機最重要的組件之一，</span>因為其他所有組件都插入主板中，插入專用插槽(例如CPU)，一個擴展槽(用於各種擴展卡)，或連接器(例如SATA存儲設備和音頻輸入/輸出)。<span style="color: #ff0000;">主板確實是計算機中所有組件的主要集合點。</span></span></span></p>
<p><span style="color: #ff0000;"><span style="color: #000000;"></span></span></p>
<p><span style="color: #ff0000;"><span style="color: #000000;"><span style="color: #ff0000;"></span></span></span></p>
<p><span style="color: #ff0000;"><span style="color: #000000;"><span>Before we begin talking about the motherboard itself, </span></span></span></p>
<p><span style="color: #ff0000;"><span style="color: #000000;"><span>在我們開始談論主板本身之前，</span></span></span></p>
<h1>其他</h1>
<h2>TEST</h2>
<h2>Develop</h2>
<p><a href="https://github.com/mdecourse/cmsimde"></a></p>